@import "~react-vis/dist/style";
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: rgb(85, 38, 238);
  stroke-width:2px;
}
.ct-series-f .ct-bar,
.ct-series-b .ct-line, 
.ct-series-b .ct-point,
.ct-series-h .ct-line {
  stroke: green;
  stroke-width: 40px;
  font-weight: 19px;
  font-size: 20px;
}