.landing  {
  
    padding-left: 25px;
   
    flex-wrap: no-wrap;
    index: 3;
    direction: row;
    z-index: 1000;
    color: #d3509c;
    font-weight: 900;
    font-size: 22px;
   
  }
  h1 {
    span:nth-child(2) {
      color: #4c68d7;
    }
    
    span:nth-child(3) {
      color: #cd486b;
    }
    
    span:nth-child(4) {
      color: #fbad50;
    }
    
    span:nth-child(5) {
      color: #fccc63;
    }
    
    span:nth-child(6) {
      color: #bc2a8d;
    }
    
    span:nth-child(7) {
      color: #e95950;
    }
  } 
  
  .nav-link{
    margin-left: -5px;
    margin-right: -2px;
  }
  