
.App {
  display: inline-flex;
  flex: 1;
  align-content: auto;
  background: #6e76dd; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d6dd6e6c 30%, #7f4a89 30%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #6e76dd 0%,#7f4a89 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ecb43a8e 0%,#7f4a89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e76dd', endColorstr='#7f4a89',GradientType=1 );
  width: 100%;
  padding-top: 160px; 
}
body {
  
  font-family: 'Roboto', sans-serif;
}
