.header {
  display:inline-flex;
  background-color: #bf45f0 40%;
  height: 90px;
  overflow: hidden;
  position: relative;
 

.nav {
  min-height: 100px;
  max-height: 105px;
 
}
.breadcrumb {

  display: flex;
  flex-wrap: wrap;
  top: 0;
  background-color: lightcyan;
 
  width: 205;
  margin: 10px;
  padding: 10px;
  position: relative;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);



h1 {
  
  padding-left: 25px;
  display: flex;
  position: relative;
  color: #d3509c;
  font-weight: 900;
  font-size: 22px;
  direction: row;


  span:nth-child(2) {
    color: #4c68d7;
  }
  
  span:nth-child(3) {
    color: #cd486b;
  }
  
  span:nth-child(4) {
    color: #fbad50;
  }
  
  span:nth-child(5) {
    color: #fccc63;
  }
  
  span:nth-child(6) {
    color: #bc2a8d;
  }
  
  span:nth-child(7) {
    color: #e95950;
  }
} 

.nav-link{
  margin-left: -5px;
  margin-right: -2px;
}

// .img{
//   display: inline-block;
//   position: relative;
// }



.profile {
  display: flex;
  padding: 5px;
  padding-left: 10px;
  background-image: url('../../images/ins15.png');
  background-blend-mode: normal;
  border: 3px solid outset;
  border-color: rgba(64, 224, 208, 0.644);
  background-size: cover;

  background-repeat: no-repeat;
  width:205px;
  height: 85px;
  margin: 25px;
  
  
  box-shadow: 0 3px 4px 0 hsla(0, 5%, 5%, .55);
  
  .avatar__img {
    display: flex;
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 15px;
    height: 25px;
    width: 25px;
    
  }
  
  
  .userId {
    color: goldenrod;
    margin: 5px;
  }

}
}