.header {
  display:flex;
  flex: 0;
  background-color: #bf45f0 40%;
  height: 90px;
  overflow: no-overflow;
  position: top;
 

.nav {
  min-height: 100px;
  max-height: 105px;
 
}
.breadcrumb {

  display: flex;
  flex-wrap: wrap;
  top: 0;
  background-color: lightcyan;
 
  width: 205;
  margin: 10px;
  padding: 10px;
  position: relative;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);




// .img{
//   display: inline-block;
//   position: relative;
// }



.profile {
  display: flex;
  padding: 1px;
  padding-left: 10px;
  background-image: url('../images/ins15.png');
  background-blend-mode: normal;
  border: 1px solid;
  border-color: rgba(64, 224, 208, 0.644);
  background-size: cover;

  background-repeat: no-repeat;
  width:175px;
  height: 85px;
  margin: 25px;
  
  
  box-shadow: 0 3px 4px 0 hsla(0, 5%, 5%, .55);
  
  .avatar__img {
    display: flex;
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 15px;
    height: 25px;
    width: 25px;
    border: 1.25px solid;
    border-color: aliceblue;
  }
  
  .home__page {
    display: inline-block; 
  }
  // .userId {
  //   color: rgb(205, 14, 223);
  //   margin: 5px;
  // }

}
}