.sideBar {
    
    margin-left: 35px;
     background-image: url("../images/stripe4.png"); 
    /* background-size: cover; */
    background-size: contain;
    background-position: bottom;
    min-width: 255px;
    margin: 25px;
    display: flex;
    min-height: 265px;
    height: 855px;
    max-height: 885px;
    background-repeat: no-repeat;
    /* background-color: rgba(185, 253, 255, 0.074); */
    padding: 11px;
    
    .sideItem {
        padding-left: 20px;
        

.img {
    border-radius: 95%;
    margin-left: 15px;
    border: 2px inset;
    /* color: skyblue; */
}

// .profile {
//     padding: 7px;
//     background-image: url('../../images/insta12.png');
//     background-blend-mode: normal;
//     border: 2px solid;
//     border-color: rgba(64, 224, 208, 0.644);
//     background-size: cover;
//     background-repeat: no-repeat;
//     width:170px;
//     height: 80px;
//     margin: 25px;
    
    
//     box-shadow: 0 3px 4px 0 hsla(0, 5%, 5%, .55);
    
// }
a,  {
    color: goldenrod;
}


}

}

