.sideBar {
    filter:opacity(80%);
    display: flex;
    margin-left: 15px;
//     background: rgba(128,98,135,1);
// background: -moz-linear-gradient(-45deg, rgba(128,98,135,1) 0%, rgba(193,176,247,0.8) 33%, rgba(102,244,176,0.63) 63%, rgba(188,228,135,0.5) 84%, rgba(245,217,107,0.5) 98%, rgba(255,255,255,0.5) 99%);
// background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(128,98,135,1)), color-stop(33%, rgba(193,176,247,0.8)), color-stop(63%, rgba(102,244,176,0.63)), color-stop(84%, rgba(188,228,135,0.5)), color-stop(98%, rgba(245,217,107,0.5)), color-stop(99%, rgba(255,255,255,0.5)));
// background: -webkit-linear-gradient(-45deg, rgba(128,98,135,1) 0%, rgba(193,176,247,0.8) 33%, rgba(102,244,176,0.63) 63%, rgba(188,228,135,0.5) 84%, rgba(245,217,107,0.5) 98%, rgba(255,255,255,0.5) 99%);
// background: -o-linear-gradient(-45deg, rgba(128,98,135,1) 0%, rgba(193,176,247,0.8) 33%, rgba(102,244,176,0.63) 63%, rgba(188,228,135,0.5) 84%, rgba(245,217,107,0.5) 98%, rgba(255,255,255,0.5) 99%);
// background: -ms-linear-gradient(-45deg, rgba(128,98,135,1) 0%, rgba(193,176,247,0.8) 33%, rgba(102,244,176,0.63) 63%, rgba(188,228,135,0.5) 84%, rgba(245,217,107,0.5) 98%, rgba(255,255,255,0.5) 99%);
// background: linear-gradient(135deg, rgba(128,98,135,1) 0%, rgba(193,176,247,0.8) 33%, rgba(102,244,176,0.63) 63%, rgba(188,228,135,0.5) 84%, rgba(245,217,107,0.5) 98%, rgba(255,255,255,0.5) 99%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#806287', endColorstr='#ffffff', GradientType=1 );
    background-image: url('../images/rawpixel-597450-unsplash.jpg');
    //  background-image: url("../images/stripe4.png"); 
    /* background-size: cover; */
    background-size: stretch;
    background-position: bottom;
    width: auto;
    min-width: 215px;
    min-height: 640px;
    margin: 25px;
    // display: inline-flex;
    // min-height: 940px;
    height: 1050;
    max-height: 1200px;
    background-repeat: no-repeat;
    align-items: center;
    /* background-color: rgba(185, 253, 255, 0.074); */
    padding: 11px;
   
    .sideItem {
        padding-left: 20px;
        

.img {
    border-radius: 95%;
    margin-left: 15px;
    border: 2px inset;
    /* color: skyblue; */
}



  
  
}

}

